# Directories
.vs/
.idea/
.xmake/
.vscode/
vsxmake2022/
Binaries/
build/
cmake-build-debug/

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.log
Makefile
imgui.ini
/CMakeLists.txt

# Exclude
!Vendor/Binaries