# Directories
.vs/
.idea/
.xmake/
.vscode/
vsxmake2022/
Binaries/
build/
dist/
cmake-build-debug/
cmake-build-*/
.cache/
**/Generated/
LivePP/
Sandbox

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.log
Makefile
imgui.ini
.reflect_cache
compile_commands.json

# Exclude
!Vendor/Binaries
