# Directories
.vs/
.idea/
.xmake/
.vscode/
vsxmake2022/
Binaries/
build/
cmake-build-debug/

**/Generated/

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.log
Makefile
imgui.ini
.reflect_cache
/CMakeLists.txt

# Exclude
!Vendor/Binaries